body {
	background-color: rgb(38, 40, 43) !important;
	color: #eee !important;
}

/* Scroll bar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: rgba(38, 40, 43, 0);
}
::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.075);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(136, 136, 136, 0.445);
}
::-webkit-scrollbar-corner {
	background: rgba(136, 136, 136, 0);
}

@keyframes slideInLeft {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

.body {
	animation: 1s ease-out 0s 1 slideInLeft;
	background-color: var(--color1);
}

.header {
	text-align: center;
	color: #fff;
	font-family: var(--font1);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.navbar {
	background-color: transparent !important;
}

#specialBadge {
	background-color: rgb(255, 98, 0) !important;
}

.shape {
	position: relative;
	overflow: hidden;
	height: 80px;
}

.shape::before {
	border-radius: 100%;
	position: absolute;
	background: black;
	right: -200px;
	left: -200px;
	top: -200px;
	content: '';
	bottom: 0;
}
